################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/snake1/.vs/snake1/v16
/snake1/snake1.vcxproj.user
/snake1/snake1.vcxproj.filters
/snake1/snake1.vcxproj
/snake1/snake1.sln
